
body {
    background-color: #000000;
}

header{
/*    width: 100%; */
    z-index: 9999;
    position: fixed;
    top: 0px;
/*    left: 50px;  */
    background: url(../img/bg.jpg) center / cover; 
    border-radius: 0 0 50% 0;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.29);

}


.selficon{
    z-index: 9999;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  300px;       /* ※縦横を同値に */
    height: 300px;       /* ※縦横を同値に */
}
.circle{
    justify-content: center;
    flex-direction: column;
    display:flex;
    margin: 50px 50px 50px 50px;
}
.circleupper{
    justify-content: center;
    flex-direction: row;
    display:inline-flex;
}
.circlelower{
    justify-content: center;
    flex-direction: row;
    display:inline-flex;
}


.circle1 {
    position:relative;
    width:200px;
    height:200px;
    border-radius:200px 0px 0px 0px;
    background:#E65032;
}
.circle1-clear {
    z-index: 9998; /* 猫の一個下、 .circTxt2の一個上 */
    position:relative;
    width:200px;
    height:200px;
    border-radius:200px 0px 0px 0px;
}

.circle2 {
    position:relative;
    width:200px;
    height:200px;
    border-radius:0px 200px 0px 0px;
    background:#53B09A;
}
.circle2-clear {
    z-index: 9998; /* 猫の一個下、 .circTxt2の一個上 */
    position:relative;
    width:200px;
    height:200px;
    border-radius:0px 200px 0px 0px;
}

.circle3 {
    position:relative;
    width:200px;
    height:200px;
    border-radius:0px 0px 0px 200px;
    background:#FF9F40;
}
.circle3-clear {
    z-index: 9998; /* 猫の一個下、 .circTxt2の一個上 */
    position:relative;
    width:200px;
    height:200px;
    border-radius:0px 0px 0px 200px;
}

.circle4 {
    position:relative;
    width:200px;
    height:200px;
    border-radius:0px 0px 200px 0px;
    background:#FFCC66;
}
.circle4-clear {
    z-index: 9998; /* 猫の一個下、 .circTxt2の一個上 */
    position:relative;
    width:200px;
    height:200px;
    border-radius:0px 0px 200px 0px;
}

.Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.circTxt {
    /*allows for centering*/
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    /*adjust as needed*/
    font-family: 'arial black';
    font-size: x-large;
    font-weight: 900;
    color: #1a8681;
    text-shadow: 2px 2px 0 #ffffff,-2px 2px 0 #ffffff,2px -2px 0 #ffffff,-2px -2px 0 #ffffff;
}
.circTxt2 {
    z-index: 9997; /*透明なボタンの下*/
    /*allows for centering*/
    position: absolute;
    top: 35px;

    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    /*adjust as needed*/
    font-family: 'OCRB';
    font-size: x-large;
    color: black;
}